$colors: (
    'common': (
             'white': #F5F7F5,
        'white-solid': #fff,
        'black': #0b0b63,
        'black-2': #0c0c6e,
        'black-3': #24247d,
        'dark': #060637,
        'orange': #EB5939,
    ),
    'grey': (
        '1':#262626,
        '2':#F4F4F4,
        '3':#5D5D63,
        '4':#F7F7F7,
    ),
    'text': (
        'body':#5D5D63,
    ),
    'theme': (
        '1': #336EF9,
    ),
    'border': (
        '1': #EAEAEB,
    )
);


$white : #fff;
$black : #020626;
$theme-primary : #336EF9;
$border-primary : #F1F1F9;

// Arapawa Shades – Light to Dark
$arapawa-100: #8686b7;
$arapawa-200: #6d6da8;
$arapawa-300: #55559a;
$arapawa-400: #3d3d8b;
$arapawa-500: #24247d;
$arapawa-600: #0c0c6e;
$arapawa-700: #0b0b63;
$arapawa-800: #0a0a58;
$arapawa-900: #08084d;
$arapawa-950: #060637;
$arapawa-975: #070742;

// Roseburn Shades – Light to Dark
$roseburn-100: #f69599;
$roseburn-200: #f48085;
$roseburn-300: #f26b70;
$roseburn-400: #f1555c;
$roseburn-500: #ef4047;
$roseburn-600: #ed2b33;
$roseburn-700: #d5272e;
$roseburn-800: #be2229;
$roseburn-900: #a61e24;
$roseburn-950: #8e1a1f;
$roseburn-975: #77161a;